body {
  background-color: #252525;
  color: aqua;
}

img {
  width: 20%;
}

.column {
  width: 20%;
  float: left;
  margin: 5px;
  padding: 10px;
  background-color: #34333b;
}

.box {
  width: 80%;
}